html, body, main {
  height: 100%;

  background-color: #fefefe;
  color: #9BAE9E; /* Olive Drab */

  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;

  color: #9bae9e; /* Olive Drab */
}

a {
  text-decoration: none;
  color: #9bae9e; /* Olive Drab */
}

a:hover {
  color: #83ad89; /* Olive Vibrant */
}

h1.jumbo {
  font-size: 3.00em;
  font-weight: 700;
  color: #555555;
}

p.jumbo {
  font-size: 2.00em;
  font-weight: 700;
  font-style: italic;
  color: #555555;
}

.icons {
  font-size: 3.00em;
}
