@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700');

html, body {
  height: 100%;
  background-color: #fefefe;

  font-family: 'Montserrat Alternates', sans-serif;

  color: #010101;
}

a {
  text-decoration: none;
  color: #010101;
}

a:hover {
  color: #a24c53
}

strong {
  font-weight: 700;
}

hr {
  width: 25%;
}

.list-social {
  font-size: xx-large;
}