html, body, main {
  height: 100%;

  background-color: #fefefe;
  color: #f4d35e; /* Wes Anderson Yellow */

  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #f4d35e; /* Wes Anderson Yellow */

  text-shadow: 1px 1px #202020;
}

a:hover {
  color: #5ecaf4;

  text-shadow: 1px 1px #202020;
}

.cover {
  background-image: url("/images/six-arms-cinema-skinny.jpg");

  min-height: 100%;
  background-position: bottom; 
  background-size: cover;
}

.box {
  /* background-color: #000000;
  opacity: 0.00; */
}

.text-middle {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.jumbo {
  font-size: 8.00em;
  font-style: italic;
  
  opacity: 0.95;
  text-shadow: 4px 4px #202020;
}

.light {
  font-weight: 200;
  font-style: italic;

  opacity: 0.95;
  text-shadow: 4px 4px #202020;
}

.icons {
  font-size: 2.00em;
}
