<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="p:domain_verify" content="61df57195a002a7c938f9f6ed33d5cb5"/>

  <title>Karim Said |
  {% if page.category == nil %}
    {{ page.title }}
  {% else %}
    {{ page.category}} - {{ page.title }}
  {% endif %}
  </title>

  <!-- <link rel="shortcut icon" href="/img/favicon.ico" /> -->

  <!-- Latest compiled and minified Bootstrap Style Sheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- Custom fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,600,900i" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/egyptiankarim.css">
  <link rel="stylesheet" href="/css/typography.css">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
</head>
